################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/StudentApplication/bin/Debug
/StudentApplication/obj
/.vs/StudentApplication
/.vs
